out
build
.project
.vs
*.log
CMakeLists.txt??????????????
idlcompile.bat??????????????
idlcompile.sh??????????????
README.SendVTCCurrentPose??????????????
RTC.xml??????????????
SendVTCCurrentPose.conf??????????????
SendVTCCurrentPose.py??????????????
cmake/cpack_options.cmake.in??????????????
test/SendVTCCurrentPoseTest.py??????????????
**/__pycache__